* {
    margin: 0;
    padding: 0;
    list-style: none;
}
header {
    width: 100%;
    height: 268px;
    .banner {
        width: 100%;
        height: 48px;
        background: #353535;
        .top {
            width: 1100px;
            height: 48px;
            margin: 0 auto;
            .top_left {
                width: 184px;
                height: 116px;
                background: #DD4311;
                position: absolute;
                top: 0;
                 z-index: 1;
                img {
                    margin-top: 30px;
                    margin-left: 13px;
                    margin-bottom: 9px;
                }
                p {
                    margin-top: 0;
                    font-size: 14.5px;
                    text-align: center;
                    color: #FFAC94;
                }
            }
            ul {
                float: left;
                overflow: hidden;
                margin-left: 213px;
                margin-right: 85px;
                li {
                    float: left;
                    width: 88px;
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: #8B8B8B;
                    }
                }
            }
            .active {
                background: #DD4311;
            }
           
            ol {
                li {
                    float: left;
                    height: 48px;
                    line-height: 48px;
                    img {
                        vertical-align: middle;
                    }
                }
                .tel {
                    margin-right: 8px;
                }
                .num {
                    margin-right: 20px;
                }
                .qq {
                    margin-right: 16px;
                }
                .weibo {
                    margin-right: 16px;
                }
                .weixin {
                    margin-right: 16px;
                }
            }
        }
        .top_bottom{
            width: 100%;
            height: 218px;
//          margin-top: 46px;
            position: relative;
           
            img {
                width: 100%;
                height: 100%;
            }
            .ospan_zjy {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 86.5%;
                height: 27px;
                background: rgba(0,0,0,.3);
                line-height: 27px;
                color: white;
                font-size: 13px;
                padding-left: 204px;
            }
        }
    }
}

section{
   width:100%;
   height: 1750px;
   background: #f0f1f1;
   .jy-body{
       padding-top: 40px;
       width: 1100px;
       margin: 0 auto;
       height: 1727px;
//     background: red;
       .jy-body1{
           height: 160px;
           overflow: hidden;
           width: 1100px;
           .jy-div1{
               width: 110px;
               height: 120px;
               margin-top: 20px;
               border-top: 1px solid #E2E2E2;
               float: left;
//             margin-right: 40px;
               padding-top: 20px;
               text-align: center;
               color: #999999;
               span{
                   font-size: 12px;
               }
               p{
                   font-size: 41px;
               }
           }
           .jy-div2{
               width: 950px;
               height: 120px;
               margin-top: 20px;
               padding-top: 20px;
               border-top: 1px solid #E2E2E2;
               float: right;
               img{
                   width: 220px;
                   height: 100px;
                   float: left;
               }
               .jy-wz{
                   width: 698px;
                   height: 100px;
                   overflow: hidden;
                   float: right;
                   .jy-wenzi{
                       color: red;
                       font-size: 18px;
                       margin-bottom: 14px;
                   }
                   .p1{
                       font-size: 12px;
                       margin-bottom: 12px;
                       span{
                           margin-right: 22px;
                           color: #a6a6a6;
                       }
                   }
                   .p2{
                       font-size: 12px;
                       color: #A6A6A6;
                   }
               }
           }
       }
   }
   .anniu{
       width:247px;
       height:42px;
//     background: red;
       margin-left:760px;
       margin-top:-100px;
       span{
           width:38px;
           height:41px;
           background: white;
           text-align: center;
           line-height: 41px;
           float: left;
           color:#999999;
           margin-left: 3px; 
       }
        .en {
                background: #DD4311;
                color: white;
            }
   }
}
footer {
    width: 100%;
    height: 83px;
    background: #353535;
    .bottom {
        width: 1100px;
        height: 83px;
        margin: 0 auto;
        .bottom_left {
            img {
                margin-top: 25px;
                float: left;
            }
        }
        .bottom_right {
            width: 610px;
            height: 83px;
            float: right;
            ul {
                width: 610px;
                height: 18px;
                margin-top: 24px;
                margin-bottom: 8px;
                li {
                    width: 58px;
                    height: 18px;
                    text-align: center;
                    line-height: 18px;
                    margin-left: 18px;
                    float: right;
                    font-size: 14.5px;
                    a {
                        text-decoration: none;
                        color: #999999;
                        font-size: 13px;
                    }
                    .fukuan {
                        margin-left: 18px;
                    }
                }
            }
            p {
                text-align: right;
                a {
                    text-decoration: none;
                    font-size: 12.8px;
                    color: gray;
                }
            }
        }
    }
}