* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

header {
  width: 100%;
  height: 154px; }
  header .banner {
    width: 100%;
    height: 48px;
    background: #353535; }
    header .banner .top {
      width: 1100px;
      height: 48px;
      margin: 0 auto; }
      header .banner .top .top_left {
        width: 184px;
        height: 116px;
        background: #DD4311;
        position: absolute;
        top: 0; }
        header .banner .top .top_left img {
          margin-top: 30px;
          margin-left: 13px;
          margin-bottom: 9px; }
        header .banner .top .top_left p {
          margin-top: 0;
          font-size: 14.5px;
          text-align: center;
          color: #FFAC94; }
      header .banner .top ul {
        float: left;
        overflow: hidden;
        margin-left: 213px;
        margin-right: 85px; }
        header .banner .top ul li {
          float: left;
          width: 88px;
          height: 48px;
          line-height: 48px;
          text-align: center; }
          header .banner .top ul li a {
            text-decoration: none;
            color: #8B8B8B; }
      header .banner .top .active {
        background: #DD4311; }
      header .banner .top ol li {
        float: left;
        height: 48px;
        line-height: 48px; }
        header .banner .top ol li img {
          vertical-align: middle; }
      header .banner .top ol .tel {
        margin-right: 8px; }
      header .banner .top ol .num {
        margin-right: 20px; }
      header .banner .top ol .qq {
        margin-right: 16px; }
      header .banner .top ol .weibo {
        margin-right: 16px; }
      header .banner .top ol .weixin {
        margin-right: 16px; }

section {
  width: 1100px;
  height: 1576px;
  background: red;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 61px; }
  section .box_lyp {
    width: 990px;
    height: 1576px;
    background: green;
    margin: 0 auto; }
    section .box_lyp .p_lyp {
      font-size: 23px;
      margin-bottom: 22px; }
      section .box_lyp .p_lyp .span_lyp {
        margin-left: 16px; }
    section .box_lyp .bg_lyp {
      width: 990px;
      height: 54px;
      background: #F0F1F1;
      padding-top: 16px;
      margin-bottom: 27px; }
      section .box_lyp .bg_lyp .txt_lyp {
        background: red;
        font-size: 12px;
        margin: 0 25px 17px 30px; }
    section .box_lyp .img_lyp {
      width: 990px;
      height: 445px;
      margin-bottom: 27px; }
    section .box_lyp .xm_lyp {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 17px; }
    section .box_lyp .spp_lyp {
      font-size: 14px;
      display: block;
      margin-bottom: 12px; }
    section .box_lyp .pp_lyp {
      font-size: 14px;
      display: block;
      margin-bottom: 22px; }
    section .box_lyp .cf_lyp {
      font-size: 14px;
      display: block;
      margin-bottom: 20px; }
    section .box_lyp .bj_lyp {
      font-size: 14px;
      display: block;
      margin-bottom: 8px; }
    section .box_lyp .ln_lyp {
      font-size: 14px;
      display: block;
      margin-bottom: 20px; }
    section .box_lyp .cg_lyp {
      font-size: 14px;
      display: block;
      font-weight: bold;
      margin-bottom: 22px; }
    section .box_lyp .li_lyp {
      font-size: 14px;
      display: block;
      margin-bottom: 18px; }
    section .box_lyp .la_lyp {
      font-size: 14px;
      display: block;
      margin-bottom: 48px; }

footer {
  width: 100%;
  height: 83px;
  background: #353535;
  overflow: hidden; }
  footer .bottom {
    width: 1100px;
    height: 83px;
    margin: 0 auto; }
    footer .bottom .bottom_left img {
      margin-top: 25px;
      float: left; }
    footer .bottom .bottom_right {
      width: 610px;
      height: 83px;
      float: right; }
      footer .bottom .bottom_right ul {
        width: 610px;
        height: 18px;
        margin-top: 24px;
        margin-bottom: 8px; }
        footer .bottom .bottom_right ul li {
          width: 58px;
          height: 18px;
          text-align: center;
          line-height: 18px;
          margin-left: 18px;
          float: right;
          font-size: 14.5px; }
          footer .bottom .bottom_right ul li a {
            text-decoration: none;
            color: #999999;
            font-size: 13px; }
          footer .bottom .bottom_right ul li .fukuan {
            margin-left: 18px; }
      footer .bottom .bottom_right p {
        text-align: right; }
        footer .bottom .bottom_right p a {
          text-decoration: none;
          font-size: 12.8px;
          color: gray; }

/*# sourceMappingURL=last.css.map */
