@charset "utf-8";
/* CSS Document */
.down_list{ width: 200px; overflow: hidden;}
.down_list ol { width: 184px; overflow: hidden; background: black; background: rgba(0,0,0,.7);text-align: right;margin-top: 20px;display: none;}
.down_list li { width: 184px; float: left;line-height: 15px; }
.down_list a { display: block; padding-left: 10px; color: #CCCCCC; text-decoration: none; margin-right: 15px;text-decoration: none;}
.down_list li:hover { background: #DD4311; text-decoration: underline; }